body {
    font-size: 14px;
    color: navy;

    background-image:
    url(Pictures/back.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;

    min-width: 720px;
    min-height: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;

    text-align: center;
}

nav {
    height: 40px;
    width: 560px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}
nav a {
    display: block;
    text-decoration: none;
    font-family: monospace;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}
nav a:hover {
    color: gray;
    background-color: #ddeaff;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 5px;

}
nav ul li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #7a8ca8;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: 3px;

}

nav ul ul li {
    position: relative;
    display: none;
    border-radius: 5px;
    background-color: #9aaece;
    margin: 0px;
    margin-top: 2px;
    font-size: 13px;
}
nav ul li:hover ul li { display: block;
    opacity: 0; }

nav ul li:hover ul.menu_resume li { animation: navmenuY 800ms forwards ease-in-out; }

nav ul li:hover ul.menu_aboutMe li { animation: navmenuX 800ms forwards ease-in-out; }

nav ul li:hover ul.menu_education li { animation: navmenuZ 800ms forwards ease-in-out; }

nav ul li:hover ul li:nth-child(2){ -webkit-animation-delay: 600ms;
        animation-delay: 600ms; }
nav ul li:hover ul li:nth-child(3){ -webkit-animation-delay: 1200ms;
        animation-delay: 1200ms; }

@keyframes navmenuY {
    0% { opacity: 1;
        transform: rotateY(-90deg) translateY(30px); }
    25% { transform: rotateY(35deg) translateY(-10px); }
    50% { transform: rotateY(-20deg) translateY(5px); }
    75% { transform: rotateY(10deg) translateY(-2.5px); }
    100% { opacity: 1;
        transform: rotateY(0deg) translateY(0px); }
}

@keyframes navmenuX {
    0% { opacity: 1;
        transform-origin: top center;
        transform: rotateX(-90deg); }
    25% { transform: rotateX(45deg); }
    50% { transform: rotateX(-30deg); }
    75% { transform: rotateX(20deg); }
    100% { opacity: 1;
        transform: rotateX(0deg); }
}

@keyframes navmenuZ {
    0% { opacity: 0;
        transform: rotateZ(-40deg) translateZ(30px); }
    25% { transform: rotateZ(20deg); }
    50% { transform: rotateZ(-10deg); }
    75% { transform: rotateZ(5deg); }
    100% { opacity: 1;
        transform: rotateZ(0deg) translateZ(0px); }
}

@keyframes navmenuSM {
    0% { opacity: 1;
        transform: rotateZ(-40deg) translateZ(30px); }
    25% { transform: rotateZ(20deg); }
    50% { transform: rotateZ(-10deg); }
    75% { transform: rotateZ(5deg); }
    100% { opacity: 1;
        transform: rotateZ(0deg) translateZ(0px); }
}

h1 { text-align: center; }
p.learnMore { font-size: 20px; }
img.gtLogo { display: block;
    padding: 20px;
	margin:0 auto; }
img.profilePic { display: block;
    padding: 20px;
    margin:0 auto; }

h3{ text-align: center; }
a.links:hover{ color:red; }
a.links:active{ color:white; }
a.links:visited{ color: #9ac9d6; }
table { margin-left:auto;
    margin-right:auto; }

table.socialMediaImages tr td.linkedin img {
    margin-left: 5px;
}
h1 { animation: navmenuX 1500ms forwards ease-in-out; }

nav ul li { opacity: 0; animation: navmenuY 1500ms forwards ease-in-out; z-index: 1; animation-delay: 1000ms; }
nav ul li:nth-child(2) { opacity: 0; animation-delay: 1500ms; }
nav ul li:nth-child(3) { opacity: 0; animation-delay: 2000ms; }

table.pictures tr td img { opacity: 0; animation: navmenuY 1500ms forwards ease-in-out; z-index: 0;}

table.socialMediaImages tr td img { animation: navmenuZ 1500ms forwards ease-in-out; }

table.socialMediaImages tr td img:hover { animation: navmenuSM 800ms forwards ease-in-out; }